#sidebar {
  height: 100%;
  /* top: 0; */
  /* bottom: 0; */
  left: 0%;
  z-index: 9; 
  /* position: absolute; */
  position: relative;
  float: left;
  width: 180px;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: #f2f2f2;
  border-right: 1px solid #e6e6e6;
  box-shadow: 1px 0px 20px 1px rgba(10, 10, 10, 0.1);
}


#sidebar h3, a {
  display: block;
  position: relative;
}

#sidebar h3 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  /* font-family: "Proxima Nova"; */
  font-weight: 700;
}

#sidebar a {
  color: #6e6e6e;
  font-size: 17px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  /* vertical-align: middle;*/
}

.highlighted {
  background-color: #d2d2d2;
  color: #606060;
}

@media (max-width: 600px) {
  #sidebar { display: none; }
}