.collectionView {
  background-color: #ededed;
  position: absolute;
  height: 100%;
  /* z-index: 20; */
  /* width: auto; */
  top: 0;
  bottom: 0;
  left: 180px;
  right: 0;
  /* margin-left: 180px; */
}

.nothing {
  position: relative;
  color: #555;
  text-align: center;
  margin: 0;
  top: 49%;
  transform: translateY(-50%);
}

#scrollableEventCollectionView {
  background-color: rgb(241, 228, 255);
  position: absolute;
  overflow: scroll;
  /* height: 96%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

/* Event Card */

.card {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  width: 320px;
  min-width: 300px;
  max-width: 480px;
  vertical-align: top;
  /* width: calc(300px + attr(".card.margin")); */
  /* min-height: 400px; */
  /* max-height: 600px; */
  /* height: 420px; */
  margin: 10px;
  box-shadow: 0px 1px 15px 5px rgba(50, 50, 50, 0.15);
  transition: 0.2s;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card .centerText {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: none;
}

.imageContainer {
  width: 100%;
  padding-bottom: 66.66%;
  position: relative;
}

img.eventCoverImage {
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  /* 
  border: 0;
  position: absolute;
  left: 0;
  right: 0; */
}

.card h4, .card h6 {
  margin-left: 20px;
}

.card h4 {
  position: relative;
  margin: 17px 20px 3px;
  font-size: 17px;
}

.card .detailItem {
  position: relative;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.detailItem h6 {
  position: relative;
  display: inline-block;
  color: #323232;
  margin-top: 2px;
  font-size: 14px;
}

.detailItem p {
  font-size: 14px;
  margin: 5px;
  display: inline;
  color: #555;
  position: relative;
  text-align: right;
}

.card .datetime {
  position: relative;
  display: block;
  font-size: 13px;
  color: darkgray;
  margin: 3px 20px 18px;
}


@media (max-width: 600px) {
  .collectionView { left: 0px; }
  
  /*
  .card {
    margin-bottom: 20px;
    width: calc(100% - 20px);
  }*/

  #scrollableEventCollectionView {
    text-align: center;
    /* margin-bottom: 60px; */
    /* overflow: scroll; */
  }
}